*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gilroy';

}

html,body{
    height: 100%;
    width: 100%

}

.main{
     width: 100%;
     height:100%;
     /* background-color:aliceblue; */
     position: relative;
     

}

.navbar{
    width: 100%;
    height: 80px;
    /* background-color: rgb(73, 77, 60); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    border-bottom: 2px solid #dadada
    
}
.child {
    justify-content: space-between;
    display: flex;
    gap:2vw;
    align-items: center;
}
.navbar h2{
    font-size: 2vw;
    font-weight: 700;
}
.navbar i{
    display:none;
    font-weight: 800;
    font-size: 1.2vw;
}

.left{
 /* background-color: blue; */
 
 width:50%;
 height:50%;
}
@media (max-width:600px) {
    .navbar{
        background-color: rgb(131, 64, 64);
        padding:0 5vw;
    }
    .navbar h2{
        font-size: 9vw;
    }
    .navbar h4{
        font-size: 4vw;
        display: none;
    }
    .navbar i{
        font-size:6vw;
        font-weight: 800;
        display:block;
    }
}